@keyframes rotation {
  from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
}

.triangle{
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -200px;
  width: 877px;
  height: 877px;
  z-index: -1;
  background-image: url(/images/kaufman-triangle.svg);
  animation: rotation linear 20s infinite normal;
}
